tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5e9d6;
}
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
/* filter bar */
.table-filter-bar {
  padding: 5px 24px;
  margin-top: 10px!important;
}
.table-filter-bar .filter-bar-header {
  padding-right: 24px;
  border-right: 1px solid rgba(0,0,0,.12);
}
.table-filter-bar + table.mat-table th.mat-header-cell{
  background-color: rgba(0,0,0,.04);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}


