<mat-card class="page-container pt-0" style="border: 1px solid #c8ced3;">
      <mat-card-content>
        <div class="table-filter-bar" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
          <div class="filter-bar-header">
            <mat-icon>search</mat-icon>
          </div>
          <div class="filter-bar-search" fxFlex="" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="40px"
               [formGroup]="baseForm">

            <div fxFlex="200px">
              <mat-form-field class="mat-full-width">
                <input matInput placeholder="名称" formControlName="name" (change)="getHost()">
              </mat-form-field>
            </div>
            <div fxFlex="200px">
              <mat-form-field class="mat-full-width">
                <input matInput placeholder="IP地址" formControlName="ip" (change)="getHost()">
              </mat-form-field>
            </div>

          </div>
          <button mat-mini-fab color="primary" matTooltip="添加主机" (click)="addConfig()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-mini-fab color="primary" matTooltip="刷新" (click)="getHost()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <table mat-table [dataSource]="data" multiTemplateDataRows>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedRow === element">
          </tr>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> 名称 </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
          <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef> IP地址 </th>
            <td mat-cell *matCellDef="let row"> {{row.ip}} </td>
          </ng-container>
          <ng-container matColumnDef="domain">
            <th mat-header-cell *matHeaderCellDef> 主机域名 </th>
            <td mat-cell *matCellDef="let row"> {{row.domain}} </td>
          </ng-container>
          <!--<ng-container matColumnDef="type">-->
            <!--<th mat-header-cell *matHeaderCellDef> 类型 </th>-->
            <!--<td mat-cell *matCellDef="let row"> {{row.type}} </td>-->
          <!--</ng-container>-->
          <!--<ng-container matColumnDef="protocol">-->
            <!--<th mat-header-cell *matHeaderCellDef> 通信协议 </th>-->
            <!--<td mat-cell *matCellDef="let row"> {{row.protocol}} </td>-->
          <!--</ng-container>-->
          <!--<ng-container matColumnDef="port">-->
            <!--<th mat-header-cell *matHeaderCellDef> 端口 </th>-->
            <!--<td mat-cell *matCellDef="let row"> {{row.port}} </td>-->
          <!--</ng-container>-->
          <ng-container matColumnDef="action">
            <th class="button" mat-header-cell *matHeaderCellDef>
              <!--<button class="add" mat-stroked-button color="primary" (click)="addConfig()">新增主机</button>-->
              <!--<button class="refresh" mat-stroked-button color="primary" (click)="getHost()">刷新</button>-->
            </th>
            <td mat-cell *matCellDef="let row" class="text-right">
              <button mat-icon-button color="primary" (click)="removeConfig(row)" class="href">
                <mat-icon matTooltip="删除主机">delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="updateConfig(row)" class="href">
                <mat-icon matTooltip="修改主机">edit</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="searchContainer(row)" class="href">
                <mat-icon matTooltip="容器查询">view_week</mat-icon>
              </button>
            </td>
          </ng-container>
        </table>
      </mat-card-content>

      <mat-paginator [pageSizeOptions]="[5,10]"
                     showFirstLastButtons
                     [length]="page.totalElements"
                     [pageSize]="page.pageSize"
                     [pageIndex]="page.pageNum - 1"
                     (page)="pageChanged($event)">

      </mat-paginator>

</mat-card>
