.breadcrumb {
    display: flex;
    color: #23282c;
    font-size: 14px;
    justify-self: center;
}

.breadcrumb-item {
    line-height: 24px;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #73818f;
    content: "|";
}