<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <h4 fxLayout="row">
    <mat-icon class="baseline-border_color icon-image-preview" fxFlexAlign="auto">border_color</mat-icon>
    <div style="margin-left: 10px">修改密码</div>
  </h4>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form class="mat-form" [formGroup]="baseForm">
    <mat-form-field class="mat-full-width">
      <input matInput type="password" placeholder="旧密码" formControlName="oldPass">
      <mat-error *ngIf="PasswordCtrl.getError('required')">
        密码不能为空！
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <input matInput type="password" placeholder="新密码" formControlName="newPass">
      <mat-error *ngIf="oldpasswordCtrl.getError('required')">
        新密码不能为空！
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-full-width">
      <input matInput type="password" placeholder="确认新密码" formControlName="confirmPass">
      <mat-error *ngIf="Password2Ctrl.getError('required')">
        新密码不能为空！
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button mat-raised-button color="primary" mat-dialog-close>取消</button>
  <button mat-raised-button color="primary" [disabled]="baseForm.invalid" (click)="doChangePassword()">保存</button>
</mat-dialog-actions>
