
@mixin auth($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);


    .sidenav,.drawer{
        background: mat-color($primary,700);
        overflow: hidden;
        position: relative;
        width: 200px;
    }
    [no-over-flow] {
        overflow: hidden;
    }
    .router-outlet{
        position: relative;padding: 0px 5px;
    }
    .spacer {
        width: 100%;
    }
    .logo{
        font-size: 26px;font-family: Roboto;color:white;
    }
}

:host {
  height: 100%;
}

.toolbar-user-container {
  height: 100%;
  position: relative;

  .toolbar-user-btn {
    display: flex;
    justify-content: center;
    height: 100%;
    min-width: 160px;

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .name {
      margin: 0 8px 0 10px;
    }

    .icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      transform: rotate(0);
      transition: transform .25s cubic-bezier(.25,.8,.25,1);
    }

    &.open {
      background: rgba(0, 0, 0, .05);

      .icon {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown {
    background: white;
    z-index: 2;
    position: absolute;
    width: 100%;
    min-width: 160px;
    opacity: 0;
    visibility: hidden;
    transition: all .25s linear, max-height .25s linear, opacity .25s linear;

    @media screen and (max-width: 599px) {
      min-width: 65px;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }
}

mat-toolbar{
  /*background-color: #2196f3;*/
  background-color: #3f51b5;
}

.mat-elevation-z4{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

div.logo{
  padding-left: 47px;
  padding-right: 47px;
}

div.MDB-body{
  //格子背景-css
  background: linear-gradient(135deg,#f0f0f0 22px,rgba(0,0,0,.04) 22px,rgba(0,0,0,.04) 24px,transparent 24px,transparent 67px,rgba(0,0,0,.04) 67px,rgba(0,0,0,.04) 69px,transparent 69px),linear-gradient(225deg,#f0f0f0 22px,rgba(0,0,0,.04) 22px,rgba(0,0,0,.04) 24px,transparent 24px,transparent 67px,rgba(0,0,0,.04) 67px,rgba(0,0,0,.04) 69px,transparent 69px) 0 64px;
  background-color: #f0f0f0;
  background-size: 64px 128px;

  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

a{
  text-decoration:none;
  color: #202020;
}

.mat-menu-item a mat-icon{
  margin-right: 2px;
  margin-top: -3px;
}

/*dropDown 伪元素*/
.out,.in{
  position:absolute;
  width:0;
  height:0px;
}

.out{
  border:20px solid transparent;
  border-bottom-color:#fff;
  top:-40px;
  left:20%;
}


/*************头部input框 -- 点击伸缩功能************/
span.spacer{
  text-align: center;
}
.search-wrap{
  margin: 0 auto;
  width: 200px;
  //height: 64px;
}
.search{
  width: 100px;
  height: 35px;
  border: 1px solid #3f51b5 !important;
  padding: 0 10px;
  /* float: right; */ /*居中的话就两边伸展，居右就往左边伸展，居左就往右边伸展*/
  border-radius: 20px;
  color: #2c2c2c;
  transition: all 1s; /*transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all 1s;-贝塞尔曲线*/
  /* opacity: 0.5; */  /*透明度*/
}
.search:focus{
  width: 100%;
  outline:none;
}
/*************  end    ************/
