<div class="zoomIn" fxLayout="column" fxLayoutAlign="center center"  style="height: 700px;">

	<div class="login_table" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" >

    <div class="mdb_logo">
      <img src="../../assets/images/banner.png">
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>用户名</mat-label>
        <input matInput placeholder="Placeholder" formControlName="username">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>密码</mat-label>
        <input matInput placeholder="Placeholder" type={{type}} formControlName="password">
        <mat-icon *ngIf="type == 'password'" matSuffix svgIcon="watch" (click)=" type = '' "></mat-icon>
        <mat-icon *ngIf="type != 'password'" matSuffix svgIcon="noWatch" (click)=" type = 'password' "></mat-icon>
      </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutAlign="center center">
      <div>
        <mat-form-field appearance="outline" style="width: 128px">
          <mat-label>验证码</mat-label>
          <input matInput placeholder="Placeholder" formControlName="valCode">
          <mat-icon matSuffix svgIcon="password"></mat-icon>
        </mat-form-field>
      </div>

      <div class="val_code">
        1234
        <!--<img src="">-->
      </div>
    </div>

    <div>
      <button class="login_buton" mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">登录</button>
    </div>


	</div>


</div>
