<div style="height: 100%;">

  <!--当前模块路径-->
  <div class="curpath" fxLayout="row">
    <div>
      <mat-icon>home</mat-icon>
    </div>
    <div>
      系统概览
    </div>
    <div>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </div>

  <!--type-->
  <mat-grid-list cols="4" rowHeight="160px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="type">
        <mat-grid-list [cols]="3" rowHeight="130px">
          <mat-grid-tile [colspan]="1">
            <img src="../../../assets/images/type_2.png">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <div class="type_info">
              <span>{{channelData.channelName}}</span><br>
              链名称
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="type">
        <mat-grid-list [cols]="3" rowHeight="130px">
          <mat-grid-tile [colspan]="1">
            <img src="../../../assets/images/type_1.png">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <div class="type_info">
              <span>{{channelData.totalBlock}}</span><br>
              区块高度
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="type">
        <mat-grid-list [cols]="3" rowHeight="130px">
          <mat-grid-tile [colspan]="1">
            <img src="../../../assets/images/type_3.png">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <div class="type_info">
              <span>{{channelData.totalDeal}}</span><br>
              总交易数
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="type">
        <mat-grid-list [cols]="3" rowHeight="130px">
          <mat-grid-tile [colspan]="1">
            <img src="../../../assets/images/type_4.png">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <div class="type_info">
              <span>{{channelData.curNodeName}}<mat-icon matTooltip="当前节点状态" *ngIf=" curNodeStatus == 'OPEN'" style="color: #039be5">done</mat-icon><mat-icon *ngIf=" curNodeStatus == 'CLOSE'" style="color: #039be5">done</mat-icon></span><br>
              节点/状态
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="3" rowHeight="400px">
    <!--查找-->
    <mat-grid-tile>
      <div class="three_list">
        <div class="ribbon-lanren-green"><div class="ribbon-green"></div></div>
        <div class="list_title" fxLayout="row">
          <div>
            <mat-icon>search</mat-icon>
          </div>
          <div>查找</div>
        </div>
        <mat-grid-list cols="1" rowHeight="300px">
          <mat-grid-tile>
            <div class="search_type" fxLayout="column" [formGroup]="searchForm">

              <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle value="1" (click)="searchForType(group.value)" aria-hidden="true" [ngClass]="{'active': searchType == 1 }">
                  区块
                </mat-button-toggle>
                <mat-button-toggle mat-button [matMenuTriggerFor]="menu" value="2"
                                   (click)="searchForType(group.value)"
                                   [ngClass]="{'active': searchType == 2 }">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span>资产:{{assetsName}}</span><mat-icon class="icon" fxHide fxShow.gt-xs>keyboard_arrow_down</mat-icon>
                  </div>
                </mat-button-toggle>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                  <mat-option *ngFor="let tableName of assetsNames" [value]="tableName.value" (click)="selectTableName(tableName.value)">
                    {{tableName.value}}
                  </mat-option>
                </mat-menu>
              </mat-button-toggle-group>


              <div *ngIf="searchType == 1" class="example-selected-value">
                <mat-form-field appearance="outline" class="mat-full-width">
                  <mat-label>请输入区块ID号</mat-label>
                  <input matInput placeholder="Placeholder" formControlName="id">
                </mat-form-field>
                <div class="button">
                  <button mat-flat-button color="primary" [disabled]="searchForm.invalid" (click)="doSearchFor()">
                    <mat-icon>search</mat-icon>查询
                  </button>
                </div>
              </div>
              <div *ngIf="searchType == 2" class="example-selected-value">
                <!--<mat-form-field>-->
                  <!--<mat-select placeholder="请选择资产名" formControlName="assetsTableName">-->
                    <!--<mat-option *ngFor="let tableName of assetsNames" [value]="tableName.value">-->
                      <!--{{tableName.value}}-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
                <mat-form-field appearance="outline" class="mat-full-width">
                  <mat-label>请输入资产ID号</mat-label>
                  <input matInput placeholder="Placeholder" formControlName="id">
                </mat-form-field>
                <div class="button">
                  <button mat-flat-button color="primary" [disabled]="searchForm.invalid" (click)="doSearchFor()">
                    <mat-icon>search</mat-icon>查询
                  </button>
                </div>
              </div>

            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <!--区块列表-->
    <mat-grid-tile>
      <div class="three_list">
        <div class="ribbon-lanren-green"><div class="ribbon-green"></div></div>
        <mat-grid-list cols="2">
          <mat-card-content>
            <div class="list_title" fxLayout="row">
              <div>
                <mat-icon>crop_square</mat-icon>
              </div>
              <div>最新区块</div>
            </div>
            <div class="example-container">
              <div class="example-table-container">
                <table mat-table [dataSource]="blockData" multiTemplateDataRows>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>
                  <ng-container matColumnDef="height">
                    <th mat-header-cell *matHeaderCellDef>区块ID</th>
                    <td mat-cell *matCellDef="let row">{{row.height}}</td>
                  </ng-container>
                  <ng-container matColumnDef="txnum">
                    <th mat-header-cell *matHeaderCellDef>区块内交易数</th>
                    <td mat-cell *matCellDef="let row">{{row.txnum}}</td>
                  </ng-container>
                  <ng-container matColumnDef="datetime">
                    <th mat-header-cell *matHeaderCellDef>区块创建时间</th>
                    <td mat-cell *matCellDef="let row">{{row.datetime}}</td>
                  </ng-container>
                </table>
              </div>
            </div>
            <!--more跳转-->
            <div *ngIf="blockData.length > 0" class="more_search" style="text-align: center;margin-top: 5px">
              <a target="_blank" [routerLink]="['/auth/search/block']">
                <button mat-icon-button color="primary">点击更多</button>
              </a>
            </div>

          </mat-card-content>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <!--最后一块最后一次交易信息-->
    <mat-grid-tile>
      <div class="three_list">
        <div class="ribbon-lanren-green"><div class="ribbon-green"></div></div>
        <mat-grid-list cols="3">
          <mat-card-content>
            <div class="list_title" fxLayout="row">
              <div>
                <mat-icon>map</mat-icon>
              </div>
              <div>最新交易</div>
            </div>
            <div class="example-container">
              <div class="example-table-container">
                <mat-list class="deal_obj" role="list">
                  <mat-list-item role="listitem">
                    <tr>
                      <td>交易ID号:</td>
                      <td>{{dealData.id}}</td>
                    </tr>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <tr>
                      <td>交易主机/端口:</td>
                      <td>{{dealData.addr}}</td>
                    </tr>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <tr>
                      <td>交易用户哈希值:</td>
                      <td>{{dealData.rdhash}}</td>
                    </tr>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <tr>
                      <td>交易UNIX时间戳:</td>
                      <td>{{dealData.tmstamp}}</td>
                    </tr>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <tr>
                      <td>上一笔交易ID号:</td>
                      <td>{{dealData.lasttx}}</td>
                    </tr>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </mat-card-content>
        </mat-grid-list>
      </div>
    </mat-grid-tile>

  </mat-grid-list>


  <mat-grid-list cols="2" rowHeight="400px">
    <!--节点列表-->
    <mat-grid-tile>
      <div class="two_list">
        <div class="ribbon-lanren-green"><div class="ribbon-green"></div></div>
        <mat-grid-list cols="1">
          <mat-card-content>
            <div class="list_title" fxLayout="row">
              <div>
                <mat-icon>timeline</mat-icon>
              </div>
              <div>区块链节点</div>
            </div>
            <div class="example-container">
              <div class="example-table-container">
                <table mat-table [dataSource]="nodeData" multiTemplateDataRows>
                  <tr mat-header-row *matHeaderRowDef="displayedColumn_node"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumn_node;" class="example-element-row"></tr>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>节点名称</th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                  </ng-container>
                  <ng-container matColumnDef="addres">
                    <th mat-header-cell *matHeaderCellDef>主机IP/端口</th>
                    <td mat-cell *matCellDef="let row">{{row.addres}}</td>
                  </ng-container>
                  <ng-container matColumnDef="power">
                    <th mat-header-cell *matHeaderCellDef>权值</th>
                    <td mat-cell *matCellDef="let row">{{row.power}}</td>
                  </ng-container>
                  <ng-container matColumnDef="pubkey">
                    <th mat-header-cell *matHeaderCellDef>公钥</th>
                    <td mat-cell *matCellDef="let row">{{row.pubkey}}</td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>状态</th>
                    <td mat-cell *matCellDef="let row">
                      <div *ngIf="row.status == '0'">
                        <mat-icon style="color: #039be5">done</mat-icon>
                      </div>
                      <div *ngIf="row.status == '1'">
                        <mat-icon style="color: #d81e06;">clear</mat-icon>
                      </div>
                    </td>
                  </ng-container>
                </table>
              </div>
            </div>
          </mat-card-content>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
    <!--交易数/块--取最新的几块、交易数--树状图-->
    <mat-grid-tile>
      <div class="two_list">
        <div class="ribbon-lanren-green"><div class="ribbon-green"></div></div>
        <mat-grid-list cols="2">
          <div class="list_title" fxLayout="row">
            <div>
              <mat-icon>equalizer</mat-icon>
            </div>
            <div>交易数/每秒</div>
          </div>
          <!--earch图表-内嵌overview-chart1-->
          <div style="height: 315px">
            <app-overview-chart1></app-overview-chart1>
          </div>
        </mat-grid-list>
      </div>
    </mat-grid-tile>

  </mat-grid-list>


</div>
