/*详情展示*/
div.blockDetail mat-form-field{
  padding-right: 15px;
}

mat-grid-tile .two_list{
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

/* filter bar */
.table-filter-bar {
  padding: 5px 24px;
  margin-top: 10px!important;
}
.table-filter-bar .filter-bar-header {
  padding-right: 24px;
  border-right: 1px solid rgba(0,0,0,.12);
}
table.mat-table th.mat-header-cell{
  background-color: rgba(0,0,0,.04);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
