@mixin themeCss($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  $primaryColor: mat-color($primary,600);
  $accentColor: mat-color($accent,900);
  $warnColor: mat-color($warn, 900);

  .text-primary {
    color: $primaryColor;
  }
  .text-accent {
    color:$accentColor;
  }
  .text-warn {
    color:$warnColor;
  }
  .bg-primary {
    background-color:$primaryColor;
    color:white;
  }
  .bg-accent {
    background-color:$accentColor;
    color:white;
  }
  .bg-warn {
    background-color:$warnColor;
    color:white;
  }
  .border-primary {
    border-color:$primaryColor;
  }
  .border-accent {
    border-color:$accentColor;
  }
  .border-warn {
    border-color:$warnColor;
  }
  .cdk-badge-primary {
    border-color: $primaryColor;
    color: $primaryColor;
  }
  .cdk-badge-accent {
    border-color: $accentColor;
    color: $accentColor;
  }
  .cdk-badge-warn {
    border-color: $warnColor;
    color: $warnColor;
  }

  .mat-dialog-title {
    color: $primaryColor;
  }
  .breadcrumb-item {
    color: $primaryColor!important;
  }
}

//@mixin md-icon-size($size: 24px) {
//  font-size: $size;
//  height: $size;
//  width: $size;
//  line-height: $size;
//}

