<div class="yesNo" fxLayout="row" fxLayoutAlign="start center">
  <mat-icon class="icon_error">error</mat-icon>
  <h1 mat-dialog-title>{{option.title}}</h1>
</div>
<!--<h1 mat-dialog-title>{{option.title}}</h1>-->
<div mat-dialog-content class="pt-1 pb-1">
  {{confirmValue?.message}}
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="reject()" *ngIf="option.promptOnly!==true">{{option.cancelText}}</button>
  <button mat-raised-button color="primary" (click)="accept()">{{option.okText}}</button>
</div>
