<div mat-dialog-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="text-primary">
  <mat-icon class="baseline-border_color icon-image-preview" fxFlexAlign="auto">border_color</mat-icon>
  <h4 fxFlex="">{{isNew?'新增couchdb':'修改couchdb'}}</h4>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <perfect-scrollbar style="padding-right: 15px">
    <form class="mat-form" [formGroup]="baseForm">
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="容器名称" formControlName="containerName">
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="用户名" formControlName="couchdbUsername">
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="密码" formControlName="couchdbPassword">
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="服务端口" formControlName="port">
      </mat-form-field>
    </form>
  </perfect-scrollbar>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button mat-raised-button color="primary" mat-dialog-close>取消</button>
  <button mat-raised-button color="primary" [disabled]="baseForm.invalid" (click)="doSave()">保存</button>
</mat-dialog-actions>
