tr.example-detail-row {
  height: 0;
}
mat-icon.icon-image-preview{
  margin-top: 5px;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5e9d6;
}
tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}
.example-element-detail {
  height: 120px;
  overflow: auto;
}
td.text-right .mat-icon-button.mat-primary{
  color: #20a8d8;
}
