<!--当前模块路径-->
<div class="curpath" fxLayout="row">
  <div>
    <mat-icon>computer</mat-icon>
  </div>
  <div>
    系统设置
  </div>
  <div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <div>
    关于/用户许可协议
  </div>
  <div>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>

<mat-card class="page-container pt-0">
  <mat-tab-group>
    <mat-tab label="关于">
      <div class="files-manager-content min480">
        <div class="fm-file-grid font-arial">
          <b class="font-yahei" style="font-size:15px;">宏链区块链数据库系统</b>
          <br>
          version:&nbsp;2.1
          <br>
          <p style="padding-bottom: 20px;">Copyright © 2017-2023 <a href="http://www.maxchaintech.com" target="_blank" class="body">MaxchainTech Co.,Ltd.</a> All Rights Reserved.
            <br>
            <table cellspacing="0" cellpadding="0" border="0" class="contentBox font-yahei">
              <tbody>
              <tr>
                <td class="body" valign="middle">
                  <img src="./assets/images/logo.png">
                </td>
                <td class="right_td" valign="top">
          <p class="font-yahei">
            <br>
            <b style="font-size:14px">北京宏链科技有限公司</b><br>
            <span class="font-arial" style="font-size:13px">MaxchainTech Co.,Ltd.</span><br>
            <a href="http://www.maxchaintech.com" target="_blank" class="font-arial" style="font-size:13px">www.maxchaintech.com</a>
          </p>
          <p>&nbsp;</p>
          <p class="font-yahei" style="font-size:12px;">
            <b>联系信息</b><br>
            企业网站: <a href="http://www.maxchaintech.com" target="_blank" class="font-arial" style="font-size:13px">http://www.maxchaintech.com</a><br>
            技术支持: <a href="mailto:services@maxchaintech.com" class="font-arial" style="font-size:13px">services@maxchaintech.com</a><br>
            <br>
          </p>
          </td>
          </tr>
          </tbody>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="用户许可协议">
      <div class="files-manager-content">
        <div class="fm-file-grid" style="padding-right:18px;">
          本协议是您(个人或单一实体)与北京宏链科技有限公司关于MaxAttestor可信存证系统产品的法律协议：<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一旦安装、复制或以其他方式使用本软件产品，即表示同意接受协议各项条件的约束。如果您不同意协议的条件，则不能获得使用本软件产品的权力。<br><br>
          <b>1、版权与著作权</b><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MaxAttestor可信存证系统的版权归北京宏链科技有限公司所有。本软件产品受中华人民共和国版权法及国际版权条约和其他知识产权法及条约的保护。因此您不得复制本软件和附随之使用手册及其他书面资料，并不得利用任何方法取得、使用本软件之程序代码、文字资料、图片、影像、音乐和音效等电子文档。本软件产品仅系授权使用，而非贩售版权。<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凡与本软件产品及其拷贝有关之所有权与著作权均属北京宏链科技有限公司或其厂商所有，凡与因透过本软件产品而存取之资料内容之所有权以及知识产权，均属各资料之所有权人，并受相关著作权法或其他知识产品法律与条约保护。本协议并不授权您就该资料之内容享有使用之权力。<br><br>
          <b>2、授权</b><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京宏链科技有限公司授权您仅在一台电脑主机上安装使用本软件产品。<br><br>
          <b>3、限制</b><br><br>
          用户不得：<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) 删除本软件及其他副本上一切关于版权的信息;<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) 对本软件进行反向工程，如反汇编、反编译等;<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) 您不得出租，出借或转让本软件产品;<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4) 违犯所有软件产品使用的相关法律.<br><br>
          <b>4、终止</b><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果您未遵守本协议的任何一项条款，北京宏链科技有限公司有权立即终止本协议，并保留通过法律手段追究责任。<br><br>
          <b>5、不为瑕疵担保</b><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用本软件产品由用户自己承担风险，在适用法律允许的最大范围内，北京宏链科技有限公司及其供应商不承担任何瑕疵担保责任与条件，不论其为明示或默示者，其中包括(但不限于)适售性、任何某特定用途以及不侵害他人权益之默示担保责任。<br>
          用户须明白，使用本软件产品涉及到Internet服务，可能会受到各个环节不稳定因素的影响。因此服务存在因不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。用户须承担以上风险，北京宏链科技有限公司不作担保。<br><br>
          <b>6、就衍生损害不负赔偿责任</b><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在适用法律允许的最大范围内，北京宏链科技有限公司及其供应商在任何情况下不就因使用或不能使用本软件产品所发生的特殊的、意外的、非直接或间接的损失承担赔偿责任。即使已事先被告知该损害发生的可能性。<br><br>
          <b>7、其他规定</b><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本协议适用中国大陆法律。就本协议涉及的一切诉讼，您同意以中国北京市海淀区人民法院为第一审管辖法院。<br>
          若您就本协议有任何疑问，请接洽北京宏链科技有限公司，或者访问http://www.maxchaintech.com。
          <p class="m-t-lg">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright© 2017-2023 <a href="http://www.maxchaintech.com" target="_blank">北京宏链科技有限公司</a></p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-card>
