<div mat-dialog-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="text-primary">
  <mat-icon class="baseline-border_color icon-image-preview" fxFlexAlign="auto">border_color</mat-icon>
  <h4 fxFlex="">{{isNew?'新增我的身份':'更新我的身份'}}</h4>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <perfect-scrollbar style="height:450px;padding-right: 15px">
    <form class="mat-form" [formGroup]="baseForm">
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="名称" formControlName="name">
        <mat-error *ngIf="nameCtrl.getError('required')">
          必须输入名称！
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="域名" formControlName="commonName">
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="所属国家" formControlName="country">
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="州名或省名" formControlName="state">
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="城市名" formControlName="locality">
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="单位名称" formControlName="organizationName">
      </mat-form-field>
      <mat-form-field class="mat-full-width">
        <input matInput placeholder="所在部门" formControlName="organizationUnit">
      </mat-form-field>
      <div style="margin-top: 20px">
        <label>是否为主: </label>
        <mat-radio-group class="mat-full-width" formControlName="root">
          <mat-radio-button value="true" [checked]="rootCtrl.value == true">是</mat-radio-button>
          <mat-radio-button value="false" [checked]="rootCtrl.value == false">否</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style="margin-top: 20px">
        <label>是否被使用: </label>
        <mat-radio-group class="mat-full-width" formControlName="use">
          <mat-radio-button value="true" [checked]="useCtrl.value == true">是</mat-radio-button>
          <mat-radio-button value="false" [checked]="useCtrl.value == false">否</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </perfect-scrollbar>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button mat-raised-button color="primary" mat-dialog-close>取消</button>
  <button mat-raised-button color="primary" [disabled]="baseForm.invalid" (click)="doOrgCardSave()">保存</button>
</mat-dialog-actions>
